%% Where to put any downloaded depandencies. Default is `deps'
% {deps_dir, ["../deps"]}.

{deps, [
       {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
       {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "0.8.3"}},
       {folsom, ".*", {git, "git://github.com/boundary/folsom.git", "master"}},
       {folsomite, ".*", {git, "git://github.com/campanja/folsomite.git", "master"}}
]}.

{sub_dirs, ["rel"]}.

%{clean_files, ["*.eunit", "ebin/*.beam"]}.
%{eunit_opts, [verbose,
%   {report, {eunit_surefire, [{dir, "."}]}}]}.

%{cover_enabled, true}.

{erl_opts, [
            {parse_transform, lager_transform},
%            debug_info, 
            fail_on_warning,
%            bin_opt_info,
            warn_unused_vars,
            warn_shadow_vars,
            warn_unused_import
            ,
            inline,
            native,
            {hipe, [o2]}
           ]}.

%% == xref ==

{xref_warnings, true}.

%% xref checks to run
%%{xref_checks, [exports_not_used, undefined_function_calls]}.
{xref_checks, [exports_not_used, undefined_function_calls]}.

%% Optional custom xref queries (xref manual has details) specified as
%%     {xref_queries, [{query_string(), expected_query_result()},...]}
%% The following for example removes all references to ejabberd:*_msg/4
%% functions from undefined external function calls as those are in a
%% generated module
%%{xref_queries,
%% [{"(XC - UC) || (XU - X - B"
%%   " - (\"ejabberd_logger\":\".*_msg\"/\"4\"))",[]}]}.

