[
{data_broadcast, [
	{policy_port, 8843},
	{listeners, [
		{listen, [
            {in, 8482},
            {out, [ {tcp, 8013}, {tcp, 8014}, {ws, 8002}, {ws, 8003} ]}
        ]},
		{listen, [
            {in, 9482}, 
            {out, [ {tcp, 9013}, {ws, 9002} ]}
        ]}
    ]},
    {stats_enabled, true}
]},

{folsom, [
    {counter, [client_count_80, socket_policy_80]}
]},

{folsomite, [
    {graphite_host, "127.0.0.1"},
    {graphite_port, 2003},
    {flush_interval, 10000}
]},

{zeta, [
        {clients, [
            {default, {}}
        ]}
    ]
},

%% SASL config
{sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
    {errlog_type, error},
    {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
]}

].
