[
 {data_broadcast, [
        {policy_port, 8843},
        {listeners, [
            {listen, [{in, 8013}, {out, 8482}, {ws, 8002}]},
            {listen, [{in, 9013}, {out, 9482}, {ws, 9002}]}
           ]}
        ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

